body {
    background-image: url(../images/wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.title-letter {
    font-size: 6rem;
    color: white;
    font-family: 'Slackey', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title-letter:hover {
    transform: scale(1.65,1.65);
    animation: jiggle 0.5s infinite linear;
}

@keyframes jiggle {
    0% {transform: rotate(0deg) scale(1.65,1.65);}
    50% {transform: rotate(5deg) scale(1.65,1.65);}
    100% {transform: rotate(-5deg) scale(1.65,1.65)}
  }